table {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  
  th {
    background: #009578;
    color: #ffffff;
    text-align: left;
  }
  
  th,
  td {
    padding: 10px 20px;
  }
  
  tr:nth-child(even) {
    background: #2152a2;
    color: white;
  }
  tr:nth-child(odd) {
    background: orange;
  }
  body{
      background-color: rgb(255, 255, 255);
  }

  /* #csvFileInput{
    background-color: rgb(12, 107, 162);
    border-radius: 6px; 
    border: none; 
    font-weight: 300; 
    color: white;
  }
  input#file-upload-button{
    background-color: rgb(12, 107, 162);
    border-radius: 6px; 
    border: none; 
    font-weight: 300; 
    color: white;
  } */
  